footer {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #222831;
	padding: 20px 10px;
	font-size: 1.2rem;
	text-align: center;
	color: #eeeeee;
}

span {
    color: #00ADB5;
}
