footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 10%;
	background-color: #222831;
	padding: 20px 10px;
	font-size: 1.2rem;
	text-align: center;
	color: #eeeeee;
}

span {
    color: #00ADB5;
}
