.navigation-bar {
	height: 60px;
}
.text {
	color: #EEEEEE;
}
.box {
    height: 100%;
}
span {
	text-transform: uppercase;
	transition: color 0.3s;
}

.text-second {
	color: #00adb5;
}

.navigation-bar__logo:hover ~ span,
span:hover{
	color: #00adb5;
}

.btn-nav {
    display: inline;
	background: transparent;
	border: 1px solid #00adb5;
	border-radius: 8px;
	color: #eeeeee;
	cursor: pointer;
    transition: color .3s, background-color .3s, border .3s;
}

.btn-nav--search {
    margin-left: 10px;
}

.btn-nav:hover {
    background-color: #00adb5;
    color: #222831;
    border: 1px solid transparent;
}
